// The Twitter Bootstrap styling.
@import "bootstrap";

////
//// NAVIGATION
////

.navbar {
  margin: 20px;
  border-radius: 0;
}

.bg-faded {
  background-color: white;
  border-bottom: 1px solid #333333;
}

////
//// CONTAINER
////

.inner-container {
  padding: 0 20px 20px 20px;
}
