.page-wrapper-row
  .page-footer
    .container
      .copyright= t('global.footer', year: Time.now.year, author: author_tag).html_safe

  .scroll-to-top{ style: "display: block;" }
    %i.icon-arrow-up
