.page-footer
  .container
    2016 © Crafted by
    %a{ href: "http://fousa.be", target: "_blank", title: "We craft awesome (web)apps!"} The Fousa

.scroll-to-top{ style: "display: block;" }
  %i.icon-arrow-up
