.page-header
  .page-header-top
    .container
      .page-logo
        %a{ href: "index.html" }
          %img.logo-default{:alt => "logo", :src => image_path('menu-logo.png') }

  .page-header-menu
    .container
      .hor-menu
        %ul.nav.navbar-nav
          %li.active= link_to 'Leden', root_path
          %li= link_to 'Aanwezigheden', root_path
